.main {
    max-width: 100%;
    margin: 0 auto;
}

.sign-up {
    max-width: 396px;
    padding-top: 70px;
    margin: 0 auto;
    box-sizing: border-box;
}

.sign-up__logo {
    width: 38px;
    height: 38px;
    margin-bottom: 37px;
}

.sign-up__title {
    margin: 0 0 40px 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29.05px;
}

.sign-up__form-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.sign-up__input-container {
    max-width: 100%;
    position: relative;
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sign-up__text {
    max-width: 100%;
    margin: 0 0 4.5px 0;
    color: rgba(139, 139, 139, 1);
    font-weight: 400;
    font-size: 10px;
    line-height: 12.1px;
}

.sign-up__input {
    margin: 0;
    font-weight: 400;
    font-size: 14.2px;
    line-height: 16.94px;
    color: rgba(255, 255, 255, 1);
    padding: 0 0 9.5px 0;
    border: none;
    background-color: transparent;
    border-bottom: rgba(66, 66, 66, 1) 1px solid;
    width: 100%;
    outline: none;
}

.sign-up__input_type_error {
    color: #EE3465;
}

.sign-up__button {
    margin: 128.5px 0 17px 0;
    padding: 0;
    width: 100%;
    min-height: 45px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.94px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(66, 133, 244, 1);
    border: none;
    border-radius: 3px;
}

.sign-up__button_type_disabled {
    background: #f8f8f8;
    color: #c2c2c2;
    cursor: default;
}

.sign-up__info {
    color: rgba(139, 139, 139, 1);
    text-align: center;
    margin: 0;
    font-weight: 400;
    font-size: 14.3px;
    line-height: 16.94px;
}

.sign-up__info_color_blue {
    color: rgba(66, 133, 244, 1);
    text-decoration: none;
}

.link:hover {
    opacity: 0.8;
    transition: opacity 0.1s ease-in-out;
    cursor: pointer;
}

.sign-up__error {
    max-width: 100%;
    position: absolute;
    top: 52px;
    left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #EE3465;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
}

.sign-up__api-error {
    font-weight: 400;
    font-size: 11px;
    line-height: 13.31px;
    color: rgba(255, 0, 76, 1);
    min-height: 14px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .sign-up {
        padding-top: 232px;
    }
}

@media screen and (max-width: 460px) {
    .sign-up {
        padding: 232px 30px 0 30px;
    }
}

@media screen and (max-width: 320px) {
    .sign-up {
        padding: 56px 30px 0 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sign-up__logo {
        margin-bottom: 46px;
    }

    .sign-up__title {
        margin: 0 0 80px 0;
    }

    .sign-up__button {
        margin: 217.5px 0 0px 0;
        font-size: 12.1px;
        line-height: 14.52px;
    }

    .sign-up__info {
        margin-top: 14px;
        font-size: 12.2px;
        line-height: 14.52px;
    }

}